body {
          
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, hsl(140, 77%, 40%), #f4fff8);
    color: #111;
}

section {
    background: transparent;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}


.container section {
  text-align: center;
}


section h2 {
  margin-bottom: 1rem;
}

section p,
section li {
  line-height: 1.6;
  font-size: 1rem;
}

.FloHeader {
    color: hwb(59 24% 14%);
    display: inline-block;
    animation: reinflippen 0.6s ease-out 0.3s both;
}
.StartseiteUeberschrift {
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
}

.StartseiteEinleitung {
    text-align: center;
    font-size: 1.2rem;
    
}

.UebermichUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.UebermichText {
    text-align: center;
}

.WegUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.WegText {
    text-align: center;
}

.SkillsUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.SkillsText {
    text-align: center;
}

.ProjektUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.ProjektText {
    text-align: center;
}

.ChatbotUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.ChatbotText {
    text-align: center;
}

.KontaktUeberschrift {
    text-align: center;
    font-size: 2.1rem;
}

.KontaktText {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: .8rem;
}

.subline {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #777;
  font-style: italic;
  letter-spacing: 0.05em;
}

@keyframes reinflippen {
  0% {
    transform: rotateX(90deg) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) scale(1);
    opacity: 1;
  }
}